<form class="mt-3 col-md-8 offset-md-2" (ngSubmit)="onSave()" [formGroup]="employeeForm" >
    <div class="from-row">
        <div class="form-goup col-md-6">
          <input type="text" class="form-control" placeholder="First name" formControlName="name">
        </div>
        <div class="form-goup col-md-6">
          <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
        </div>
    </div>
    <div class="form-row">
        <div class="form-goup col-md-6">
          <input type="text" class="form-control" placeholder="Email" formControlName="email">
        </div>
        <div class="form-goup col-md-6">
          <input type="text" class="form-control" placeholder="Start Date 18/07/2023" formControlName="startDate">
        </div>
    </div>   
    
    
    <button class="btn btn-success btn-block text-light">Save</button>
</form>
{{employee |json}}