<div class="card-header">
  <div class="card-body displayTableCell">
    <div class="authBlock">
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="formGroup">
        <input type="email" class="form-control m-2" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn  btn-primary m-2" value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div class="redirectToLogin m-2">
      <span>Go back to ? <span class=" m-2" routerLink="/login">Log In</span></span>
    </div>
  </div>
</div>